
input{
  display: block;
  padding: 7px 15px;
  margin: 10px 0;
  font-size: 14px;
}
.inline input{
  display: inline;
  margin-right: 20px;
}

.toast{
  position: fixed;
  z-index: 5;
  background: rgb(146, 20, 20);
  color: white;
  width: 300px;
  padding: 15px;
  left: calc(50% - 150px);
  border-radius: 9px;
}